streamlit>=1.23.0
requests
python-dotenv
pdfplumber
PyMuPDF
cryptography>=3.1
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
uvicorn
fastapi
python-multipart
pypdf
openai-whisper
PyMuPDF
whisper
yt-dlp
huggingface_hub[hf_xet]
streamlit-option-menu
